@import url('https://fonts.googleapis.com/css?family=Work+Sans:200,300,400,500,600,700,800');
@import 'mixins';

$font_color: #333333;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Work Sans;
    scroll-behavior: smooth;
    line-height: 1.4em;
}

header,
    #range,
    #visit,
    footer {
        padding: 1em;
    }

html,
body {
    height: 100%;
    margin: 0;

    h3 {
        @include section-title-style;
    }
}

.page {
    max-width: 1180px;
    margin: auto;
}

header {
    @include display-default;
    justify-content: center;
    align-items: center;
    min-height: 15vh;

    #logo {
        text-align: center;
        margin-top: 2em;
        height: 8em;
        width: 100%;
        @include fit-image-div;
    }

    .navigation {
        display: flex;
        justify-content: space-between;
        width: 40%;
        margin: 3em 0;
        @include text-link-style;
    }

    .store-image {
        height: 30em;
        margin-top: 2em;
        box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.2);
        @include fit-image-div;
    }
}

#range {
    @include display-default;
    margin-top: 1em;

    p {
        width: 100%;
        line-height: 1.9em;
        font-size: 1.2em;
        font-weight: 300;
    }

    #range-1,
    #range-2 {
        list-style: none;

        li {
            font-weight: 300;
            font-size: 1.2em;
        }
    }
}

#visit {
    @include display-space-between;
    background-color: #FDFBF1;
    width: 100%;
    padding: 5em;

    .page {
        width: 1180px;
        margin: auto;
        @include display-space-between;
}

    h4 {
        font-size: 1.5em;
        font-weight: 400;
        color: $font_color;
        margin-bottom: 0.2em;
    }

    p,
    a {
        margin-bottom: 1em;
        font-size: 1.2em;
        font-weight: 300;
    }

    #address {
        width: 50%;

        iframe {
            margin-top: 2em;
            box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.1);
        }
    }

    #contact {
        width: 30%;

        .social-icon {
            height: 1.5em;
            width: auto;
            margin-right: 1em;
            filter: opacity(70%);
            transition: ease-in-out 0.1s;

            &:hover {
                filter: opacity(100%);
            }
        }
    }

    #get-in-touch {
        margin-top: 3em;
    }

    a {
        color: $font_color;
    }
}

footer {
    @include display-default;
    justify-content: space-between;
    height: 10em;
    align-items: center;

    .footer-logo {
        height: 4em;

        img {
            width: auto;
            height: 100%;
        }
    }

    #footer-contact {
        @include display-default;
        justify-content: flex-end;
        text-align: right;

        #top {
            margin-bottom: 0.9em;
            width: 100%;

            @include text-link-style;
        }

        #bottom {
            width: 100%;


            p {
                font-size: 0.9em;
                font-weight: 100;

                span {
                    margin-left: 2em;
                }
            }

            a {
                color: $font_color;
            }
        }
    }
}

/* Desktop styles */
@media only screen and (min-width: 961px) {

    #range {
        justify-content: space-between;
        margin-top: 7em;

        p {
            width: 40%;
        }

        ul {
            list-style: none;
            font-weight: 100;

            li {
                margin-bottom: 1.3em;
            }
        }
    }

    #visit {
        margin-top: 5em;
    }

    footer #footer-contact #top a {
        margin-left: 5em;
    }

}

/* Tablet styles */
@media only screen and (min-width: 481px) and (max-width: 960px) {

    header,
    #range,
    #visit,
    footer {
        padding: 1em;
    }

    #range {
        justify-content: space-between;

        h3 {
            width: 100%;
        }

        p {
            width: 50%;
            font-weight: 300;
        }

        li {
            margin-bottom: 1.2em;
        }

        ul {
            font-size: 0.8em;
        }
    }

}

/* Mobile styles */
@media only screen and (max-width: 480px) {

    header,
    #range,
    #visit,
    footer {
        padding: 1em;

        h3 {
            text-align: left;
            margin-bottom: 1em;
        }
    }

    header {
        #logo {
            width: 100%;
            height: 4em;
            text-align: center;
            margin-bottom: 2em;
        }

        .navigation {
            justify-content: space-evenly;
            width: 100%;
            font-size: 0.8em;
            margin: 2em 0;
        }

        .store-image {
            height: 15em;
        }
    }

    #range {
        justify-content: space-around;
        margin-top: 3em;

        p {
            margin-bottom: 2em;
        }

        li {
            margin: 1.2em 0;
        }
    }

    #visit {
        margin-top: 2em;
        padding-bottom: 5em;
        flex-wrap: wrap;

        #address, #contact {
            width: 100%;
        }

        h3 {
            margin-top: 2em;
        }

        p {
            margin-bottom: 2em;
        }

        iframe {
            display: none;
        }

        #get-in-touch {
            margin-top: 1em;
        }
    }

    footer {
        #footer-contact {
            width: 100%;
            text-align: center;
        }

        .footer-logo {
            display: none;
        }
    }
}